body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#sheet-container {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  background-color: #f2f2f2;
  overflow: scroll;
  font-size: 0;
}
.r-sheet-table {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.x-sheet-lite-scrollbox {
  position: absolute !important;
  overflow: scroll !important;
  z-index: 1;
}
.x-sheet-lite-scrollbox::-webkit-scrollbar{
  display: none;
}
.x-sheet-lite-scrollbar-x {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  display: none;
  z-index: 3;
}
.x-sheet-lite-scrollbar-y {
  position: absolute;
  box-sizing: border-box;
  right: 0px;
  top: 0px;
  bottom: 0;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  display: none;
  z-index: 3;
}
.x-sheet-lite-slide-y, .x-sheet-lite-slide-x {
  background-color: #bbb;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.r-sheet-table-components {
  position: relative !important;
}